//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sat 08 06 16:29:20 2022

IO_LOC "led_o[5]" 16;
IO_PORT "led_o[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "led_o[4]" 15;
IO_PORT "led_o[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "led_o[3]" 14;
IO_PORT "led_o[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "led_o[2]" 13;
IO_PORT "led_o[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "led_o[1]" 11;
IO_PORT "led_o[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "led_o[0]" 10;
IO_PORT "led_o[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
//
IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sw1_i" 4;
IO_PORT "sw1_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sw2_i" 3;
IO_PORT "sw2_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// TMDS
IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
