IO_LOC "anode[0]" 34;
IO_PORT "anode[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[1]" 35;
IO_PORT "anode[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[2]" 41;
IO_PORT "anode[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[3]" 42;
IO_PORT "anode[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[4]" 51;
IO_PORT "anode[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[5]" 53;
IO_PORT "anode[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[6]" 54;
IO_PORT "anode[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "anode[7]" 55;
IO_PORT "anode[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;

IO_LOC "cathode[0]" 56;
IO_PORT "cathode[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[1]" 57;
IO_PORT "cathode[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[2]" 68;
IO_PORT "cathode[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[3]" 69;
IO_PORT "cathode[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[4]" 32;
IO_PORT "cathode[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[5]" 31;
IO_PORT "cathode[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[6]" 49;
IO_PORT "cathode[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_LOC "cathode[7]" 48;
IO_PORT "cathode[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;

IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
